body.page-search .sidebar-first {
    display: none;
}

body.page-search #main-inner .grid32-25 {
    width: 100% !important;
}

body.page-search #main-inner .grid32-25 #main-content .grid32-15 {
    margin-right: 10px;
    width: 650px !important;
}

#sidebar-last #block-atrium-search .content form .form-item .form-text {
    float: left;
    width: 160px !important;
}

#sidebar-last .block-abbila {
    display: none;
}